#apartmentComponent {
  * {
    outline: 0;
  }
  .btn, select, input, a, button {
    outline: 0 !important;
    -webkit-appearance: none !important;
  }
  .dropdown-item {
    background: none;
     > span {
      color: #000;
    }
  }
  
  .filter-apartment {
    margin-right: .625rem;
    flex-flow: column;
  }
  
    .dropdown-menu {
      margin: 0 !important;
      padding: 0 !important;
      .dropdown-item {
        background: none;
         > span {
          color: #000;
        }
      }
    }
  
    .discount-categories {
      font-size: 0.725rem;
      font-weight: 700;
      display: inline-block;
    }
  
    .btn-filter-category {
      -webkit-appearance: none;
      box-shadow: none !important;
    }
    .nav-item {
      >.btn {
        padding: 0;
  
        >a {
          display: inline-block;
          padding: 1rem 2rem;
        }
      }
    }
  }
  