<template>
  <div id="apartmentComponent">
    <div class="subpage-banner-inner row row-apartments-list w-100 d-flex align-self-end">
      <div class="col-48">
        <div class="container">
          <div class="row">
            <div class="col-32 col-xl-auto mr-auto bg-primary overlap-title dp-00 z-11 aos-init aos-animate" data-aos="fade-up">
              <h2 class="p-h2-block text-secondary m-0"> Find my <br> Apartment </h2>
            </div>
          </div>
        </div>
        <div id="apartmentFilters" class="container container-inner">
          <div class="row bg-dark align-items-center dp-1">
            <div class="col-48">
              <div class="row row-apartment-search bg-dark">
                <div class="col-48 col-md form-group half-gutters filter-apartment">
                  <label for="#priceMinSelected" class="label-filter label-filter-apartment">
                    Price
                    <small>(min)</small>
                  </label>
                  <div class="wrapper wrapper-developments-select">
                    <v-select id="priceMinSelected" v-model="$root.$data.priceMinSelected" label="label" :options="$root.$data.priceMinArray" placeholder="Any"
                      v-on:input="optionSelected(showAll)" />
                    <span class="deco deco-triangle-up"></span>
                  </div>
                </div>
                <div class="col-48 col-md form-group half-gutters filter-apartment">
                  <label for="#priceMaxSelected" class="label-filter label-filter-apartment">
                    Price
                    <small>(max)</small>
                  </label>
                  <div class="wrapper wrapper-developments-select">
                    <v-select id="priceMaxSelected" v-model="$root.$data.priceMaxSelected" label="label" :options="$root.$data.priceMaxArray" placeholder="Any"
                      v-on:input="optionSelected(showAll)" />
                    <span class="deco deco-triangle-up"></span>
                  </div>
                </div>
                <div class="col-48 col-md form-group half-gutters filter-apartment">
                  <label for="#bedroomsSelected" class="label-filter label-filter-apartment">
                    Bedrooms
                    <small>(min)</small>
                  </label>
                  <div class="wrapper wrapper-developments-select">
                    <v-select id="bedroomsSelected" v-model="$root.$data.bedroomsSelected" label="label" :options="$root.$data.bedroomsArray" placeholder="Any"
                      v-on:input="optionSelected(showAll)" />
                    <span class="deco deco-triangle-up"></span>
                  </div>
                </div>
                <div class="col-48 col-md form-group half-gutters filter-apartment">
                  <label for="#developmentSelected" class="label-filter label-filter-apartment">
                    Development
                  </label>
                  <div class="wrapper wrapper-developments-select">
                    <v-select id="developmentSelected" v-model="$root.$data.developmentSelected" label="label" :options="$root.$data.developments"
                      placeholder="Any" v-on:input="optionSelected(showAll)" />
                    <span class="deco deco-triangle-up"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <google-map-collapse />

    <div class="wrapper wrapper-apartments-listings main-content">
      <div id="apartmentContent" class="container py-4">
        <div class="row">
          <div class="col-48 col-md-12 form-group sorting-options">
            <div class="wrapper wrapper-developments-select">
              <v-select id="sortingOptions" v-model="$root.$data.sortingSelected" label="label" :options="$root.$data.sortingOptions" placeholder="SORT BY"
                v-on:input="sortingSelected($root.$data.sortingSelected)" />
            </div>
          </div>
        </div>
        <transition-group id="apartmentList" name="list" mode="out-in" appear tag="div" class="row">
          <template v-for="(listing, index) in filteredListings()">
            <div class="col-48 col-md-24 col-xl-16 col-featured-apartment" v-show="checkLimit(index)" :key="listing._id">
              <div class="wrapper wrapper-apartment-card d-block">
                <a class="card card-apartments" :href="listing|stringifyApartmentLink" v-lazy-container="{ 
                      selector: 'img', 
                      error: $root.$data.apiEndpointApartments + 'wp-content/themes/mystirling-understrap/img/error.png', 
                      loading: listing.primary_image_xs,
                      src: listing.primary_image_sm
                    }">
                  <div class="mdc-card__primary-action" tabindex="0">
                    <img class="card-img-top" :data-src="listing.primary_image_sm" :data-loading="listing.primary_image_xs"
                      :alt="listing.address_formats_display_address" />
                    <div class="card-body">
                      <h5 class="card-title">
                        <strong> {{ listing.address_building_name }}, </strong>
                        <span class="listing-suburb fw-400">{{ listing.address_building_building_adr_suburb_or_town }}</span>
                      </h5>
                      <p class="card-text apartment-detail">
                        {{ listing.address_unit_number|stringifyListingTitle }}
                      </p>
                      <p class="card-text apartment-detail">
                        {{ listing|stringifyApartmentInfo }}
                      </p>
                      <h6 class="card-text apartment-price-advertise-as">
                        {{ listing.price_advertise_as }}
                      </h6>
                    </div>
                    <div class="card-footer">
                      <a name="viewApartment" class="btn btn-link btn-arrow-right btn-arrow-right-link" :href="listing|stringifyApartmentLink"
                        role="button">
                        <span class="btn-arrow-text"> View Apartment </span>
                        <svg class="arrow-right img-fluid" xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 36 8" height="7px" width="32px">
                          <path fill="#0e1a3a" class="arrow-right-path"
                            d="M0 3.5148983h35.2661133v.9783244H0v-.9783244zM31.6010742 8l-.6806641-.7165461L34.53125 4.0040603 30.9199219.7165461 31.6015625 0 36 4.0050159 31.6010742 8z">
                          </path>
                        </svg>
                      </a>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </template>
        </transition-group>
        <div id="searchResultsNone" class="col-48 col-search-message gutters mb-4 mt-4" v-if="listingCount === 0" :key="'a179eaa38404'">
          <span class="d-block text-center pt-5 pb-5 w-100" :class="{'active': listingCount === 0 }">
            Sorry, no content matched your criteria
          </span>
        </div>
        <div id="showAllWrapper" class="col-48 col-show-all half-gutters mb-4 mt-4" :key="'db268b97ba5e'" v-if="listingCount > 5">
          <button class="btn btn-link px-4 py-2" type="button" id="showAllBtn" v-on:click="showAll = true" :class="{hide: showAll}"> Show All ({{ listingCount }}) </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import _ from "lodash";
  const $ = require( "jquery" );
  const axios = require( "axios" );
  const queryString = require( 'query-string' );
  const b64 = require( 'base64-js' );
  const { encode, decode } = require( 'url-encode-decode' );

  import GoogleMapCollapse from "./GoogleMapCollapse.vue";
  import {
    isArray
  }
  from "util";
  import * as mdc from "material-components-web";
  export default {
    name: "apartments",
    components: {
      GoogleMapCollapse
    },
    data: function () {
      return {
        listingCount: 0,
        showAll: false
      };
    },
    filters: {
      stringifyApartmentLink: ( value ) => {
        let returnID = "";
        let rexID = "";
        let returnLink = "";
        if ( value._id !== null && value.rex_building_id !== null ) {
          if ( typeof value._id === 'number' ) {
            returnID = value._id.toString();
          }
          if ( typeof value._id === 'string' ) {
            returnID = value._id;
          }
          if ( typeof value.rex_building_id === 'number' ) {
            rexID = value.rex_building_id.toString();
          }
          if ( typeof value.rex_building_id === 'string' ) {
            rexID = value.rex_building_id;
          }
          returnLink = `https://mystirling.com/` + `apartment/?apartment=` + returnID + `&building=` + rexID;
        }
        return returnLink;
      },
      stringifyListingTitle: function ( value ) {
        if ( value !== null ) {
          return "Apartment " + value;
        }
        return "";
      },
      stringifyApartmentInfo: function ( value ) {
        var returnHTML = "";
        if ( typeof ( value ) === 'object' ) {
          if ( value.hasOwnProperty( 'attributes_bedrooms' ) && value.hasOwnProperty( 'attributes_bathrooms' ) ) {
            returnHTML += value.attributes_bedrooms + ` bed `;
            returnHTML += ` ＋ ` + value.attributes_bathrooms + ` bath `;
            if ( value.hasOwnProperty( 'attributes_garages' ) && value.attributes_garages > 0 ) {
              returnHTML += ` ＋ ` + value.attributes_garages + ` car `;
            }
          }
        }
        return returnHTML;
      },
      stringifyListingImage: function ( value ) {
        if ( typeof value === "object" && value !== null ) {
          if ( value.hasOwnProperty( "url" ) ) {
            return value.url;
          }
          if ( value === null || typeof value !== "object" ) {
            return `data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z/C/HgAGgwJ/lK3Q6wAAAABJRU5ErkJggg==`;
          }
        }
      }
    },
    methods: {
      showAllItems () {
        this.showAll = true;
      },
      optionSelected ( val ) {
        this.showAll = false;
        if ( val < 6 && this.showAll === false ) {
          return true;
        }
        if ( val <= 6 && this.showAll === false ) {
          return false;
        }
        if ( this.showAll === true ) {
          return true;
        }
      },
      sortingSelected(val) {
        console.log({sortingSelectedVal: val});
      },
      checkLimit ( val ) {
        if ( val < 6 ) {
          return true;
        }
        if ( val >= 6 ) {
          if ( this.showAll === true ) {
            return true;
          }
          if ( this.showAll === false ) {
            return false;
          }
        }
        return false;
      },
      filteredListings () {

        let filterOne = [];
        let filterTwo = [];
        let filterThree = [];
        let filterFour = [];
        let returnArray = [];
        var self = this;

        if ( self.$root.$data.developmentSelected && self.$root.$data.developmentSelected !== null ) {
          filterOne = _.filter( self.$root.$data.listings, function ( item ) {
            return parseInt( item.rex_building_id ) === parseInt( self.$root.$data.developmentSelected.code );
          } );
        }
        else {
          filterOne = self.$root.$data.listings;
        }

        if ( self.$root.$data.bedroomsSelected && self.$root.$data.bedroomsSelected.code !== null ) {
          filterTwo = _.filter( filterOne, function ( item ) {
            return parseInt( item.attributes_bedrooms ) >= parseInt( self.$root.$data.bedroomsSelected.code );
          } );
        }
        else {
          filterTwo = filterOne;
        }

        if ( self.$root.$data.priceMinSelected && self.$root.$data.priceMinSelected.code !== null && self.$root.$data.priceMinSelected.code > 0 ) {
          filterThree = _.filter( filterTwo, function ( item ) {
            return parseInt( item.price_match ) >= parseInt( self.$root.$data.priceMinSelected.code );
          } );
        }
        else {
          filterThree = filterTwo;
        }

        if ( self.$root.$data.priceMaxSelected && self.$root.$data.priceMaxSelected.code !== null && self.$root.$data.priceMaxSelected.code > 0 ) {
          filterFour = _.filter( filterThree, function ( item ) {
            return parseInt( item.price_match ) <= parseInt( self.$root.$data.priceMaxSelected.code );
          } );
        }
        else {
          filterFour = filterThree;
        }
        returnArray = filterFour;
        this.listingCount = returnArray.length;
        if ( self.$root.$data.sortingSelected === null ) {
          return returnArray;
        } else {
          return _.orderBy(returnArray, self.$root.$data.sortingSelected.item, self.$root.$data.sortingSelected.order);
        }
      }
    },
    mounted () {
      var self = this;
      const parsed = queryString.parse( location.search );
      if ( typeof parsed === 'object' ) {
        console.log( {
          parsed: parsed
        } );
        if ( parsed.ds && parsed.dsl ) {
          self.$root.$data.developmentSelected = {
            code: parsed.ds,
            label: decode( parsed.dsl )
          }
        }
        if ( parsed.bs && parsed.bsl ) {
          self.$root.$data.bedroomsSelected = {
            code: parsed.bs,
            label: decode( parsed.bsl )
          }
        }
        if ( parsed.pmax && parsed.pmaxl ) {
          self.$root.$data.priceMaxSelected = {
            code: parsed.pmax,
            label: decode( parsed.pmaxl )
          }
        }
        if ( parsed.pmin && parsed.pminl ) {
          self.$root.$data.priceMinSelected = {
            code: parsed.pmin,
            label: decode( parsed.pminl )
          }
        }
        this.showAll = false;
      }
    }
  }

</script>

<style lang="scss">


</style>
