<template>
  <div id="apartmentComponent" class="d-flex justify-content-center align-items-center">
    <div id="apartmentSearchBox" class="row bg-primary align-items-center d-inline-flex dp-0">
      <div class="col-48 col-lg-auto">
        <h4 class="text-secondary pr-5 fw-500 lh-11 mt-2 mb-0"> Find my <br /> Apartment </h4>
      </div>
      <div class="col-48 col-md form-group half-gutters filter-apartment">
        <label for="#priceMinSelected" class="label-filter label-filter-apartment"> Price <small>(min)</small> </label>
        <div class="wrapper wrapper-developments-select">
          <v-select id="priceMinSelected" 
            v-model="$root.$data.priceMinSelected" 
            label="label" 
            :options="$root.$data.priceMinArray"
            placeholder="Any" />
          <span class="deco deco-triangle-up"></span>
        </div>
      </div>
      <div class="col-48 col-md form-group half-gutters filter-apartment">
        <label for="#priceMaxSelected" class="label-filter label-filter-apartment"> Price <small>(max)</small> </label>
        <div class="wrapper wrapper-developments-select">
          <v-select id="priceMaxSelected" 
            v-model="$root.$data.priceMaxSelected" 
            label="label" 
            :options="$root.$data.priceMaxArray"
            placeholder="Any" />
          <span class="deco deco-triangle-up"></span>
        </div>
      </div>
      <div class="col-48 col-md form-group half-gutters filter-apartment">
        <label for="#bedroomsSelected" class="label-filter label-filter-apartment"> Bedrooms <small>(min)</small> </label>
        <div class="wrapper wrapper-developments-select">
          <v-select id="bedroomsSelected" 
            v-model="$root.$data.bedroomsSelected" 
            label="label" 
            :options="$root.$data.bedroomsArray"
            placeholder="Any" />
          <span class="deco deco-triangle-up"></span>
        </div>
      </div>
      <div class="col-48 col-md form-group half-gutters filter-apartment">
        <label for="#developmentSelected" class="label-filter label-filter-apartment"> Development </label>
        <div class="wrapper wrapper-developments-select">
          <v-select id="developmentSelected" 
            v-model="$root.$data.developmentSelected" 
            label="label" 
            :options="$root.$data.developments"
            placeholder="Any" />
          <span class="deco deco-triangle-up"></span>
        </div>
      </div>
      <div class="col-auto form-group half-gutters filter-apartment">
        <label class="label-filter label-filter-apartment"> &nbsp; </label>
        <div class="wrapper wrapper-developments-select">
          <a :href="$root.$data|stringifySearchBoxLink" id="submitApartmentSearch" class="btn btn-dark text-white" type="button">
            Find
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const b64 = require('base64-js');
  const { encode, decode } = require('url-encode-decode');

  export default {
    name: "home",
    filters: {
      stringifySearchBoxLink: (obj) => {
        let listingURL = 'https://mystirling.com/apartments/';
        let urlQueries = [];
        let counter = 0;
        if ( obj.developmentSelected !== null ) {
          urlQueries.push('ds=' + obj.developmentSelected.code);
          urlQueries.push('dsl=' + encode(obj.developmentSelected.label));
        }
        if ( obj.bedroomsSelected !== null ) {
          urlQueries.push('bs=' + obj.bedroomsSelected.code);
          urlQueries.push('bsl=' + encode(obj.bedroomsSelected.label));
        }
        if ( obj.priceMaxSelected !== null ) {
          urlQueries.push('pmax=' + obj.priceMaxSelected.code);
          urlQueries.push('pmaxl=' + encode(obj.priceMaxSelected.label));
        }
        if ( obj.priceMinSelected !== null ) {
          urlQueries.push('pmin=' + obj.priceMinSelected.code);
          urlQueries.push('pminl=' + encode(obj.priceMinSelected.label));
        }
        if ( urlQueries.length > 0 ) {
          urlQueries.forEach(function(item) {
            if ( counter === 0 ) {
              listingURL += '?';
              listingURL += item;
            }
            if ( counter > 0 ) {
              listingURL += '&';
              listingURL += item;
            }
            counter++;
          });
        }
        return listingURL;
      }
    }
  };

</script>

