<template>
  <div id="contentId" :class="{ active: collapseOpen, collapse: true }">
    <div id="expandMap" class="wrapper w-100 d-block p-0 m-0">
      <div class="container">
        <div class="row">
          <div class="col-auto">
            <button
              type="button"
              id="expandMapBtn"
              class="btn btn-link"
              v-on:click="toggle"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="162px"
                height="30px"
                version="1"
                alt="Expand Map"
                class="img-fluid icon-expand-map"
              >
                <path
                  fill="#fff"
                  d="M56.3332863 16.0971012h-4.42136v3.6090393h5.1360664v1.0980988h-6.4813919V10.6205912h6.4113235v1.0980997h-5.0659981v3.2803097h4.42136v1.0981006zM65.0789108 14.5233908l2.4454117-3.9027996h1.5835648l-3.2231827 5.049859 3.3002548 5.1337891h-1.5975723l-2.5084763-3.9727421-2.5224838 3.9727421h-1.5905685l3.3072586-5.1337891-3.2301826-5.049859h1.5765533l2.459423 3.9027996zM74.7759781 16.8175087v3.9867306h-1.3453293V10.6205912h3.7627106c1.1166 0 1.9909668.2847662 2.6240921.8533001s.9494324 1.3219166.9494324 2.2591476c0 .9881897-.3093033 1.7495651-.9284134 2.2831278-.6191101.5345612-1.5054855.801342-2.6591263.801342h-2.4033661zm0-1.0980988h2.4173813c.7192078 0 1.270752-.1688614 1.6536331-.5075836.3828735-.3387222.5745697-.8283205.5745697-1.4677963 0-.607502-.1916962-1.0931034-.5745697-1.4578047-.3828812-.3647013-.9083939-.553546-1.5765533-.5675344h-2.4944611v4.000719zM90.0545425 18.1394253h-4.2742157l-.9599457 2.664814h-1.3873672l3.8958435-10.1836481h1.1771622l3.9028473 10.1836481h-1.3803635l-.9739609-2.664814zm-3.8678131-1.0980988h3.4684219l-1.7377167-4.7630949-1.7307052 4.7630949zM104.4072037 20.8042393h-1.3523407l-5.1360626-7.8475637v7.8475637h-1.3523331V10.6205912h1.3523331l5.1500778 7.8825369v-7.8825369h1.3383255v10.1836481zM109.4511719 20.8042393V10.6205912h2.8798447c.8868713 0 1.6716461.1958399 2.3543167.5875187.6826782.3916788 1.209198.9492216 1.5795593 1.671629.3723679.7224073.5605545 1.5527267.5645599 2.4899578v.650466c0 .9602127-.1861877 1.8025227-.5565491 2.524931-.3723679.7224064-.9018936 1.2779522-1.591568 1.6646347-.6886826.3866825-1.4914703.5855198-2.4063721.594511h-2.8237914zm1.3453293-9.0855484v7.9874496h1.4153976c1.0370178 0 1.8438187-.3217354 2.4213867-.9662075.5765686-.6434727.8648529-1.5607204.8648529-2.7507439v-.5955124c0-1.1570511-.2722702-2.0563135-.816803-2.6987867-.543541-.6414738-1.3153-.967207-2.3152847-.9761992h-1.5695495zM128.944397 10.6205912l3.3352966 8.309186 3.3352814-8.309186h1.7447205v10.1836481h-1.3453217v-3.9657478l.1261292-4.280489-3.3493042 8.2462368h-1.030014l-3.3423004-8.2252541.1331329 4.2595062v3.9657478h-1.3453293v-10.183648h1.737709zM148.1523438 18.1394253h-4.2742157l-.9589386 2.664814h-1.3873749l3.8958435-10.1836481h1.1771545l3.9018555 10.1836481h-1.379364l-.9749603-2.664814zm-3.8678132-1.0980988h3.4694214l-1.7377167-4.7630949-1.7317047 4.7630949zM156.0100861 16.8175087v3.9867306h-1.3453217V10.6205912h3.7617188c1.1170959 0 1.9919586.2847662 2.624588.8533001.6326141.5685339.9489288 1.3219165.9489288 2.2591476 0 .9881897-.3083038 1.7495651-.9279175 2.2831278-.6196136.5345612-1.5054779.801342-2.6596222.801342h-2.4023742zm0-1.0980988h2.4163971c.719696 0 1.2712402-.1688614 1.6536255-.5075836.3833771-.3387222.5745697-.8283205.5745697-1.4677963 0-.607502-.1911926-1.0931034-.5745697-1.4578047-.3823853-.3647013-.9078979-.553546-1.5755615-.5675344h-2.4944611v4.000719z"
                />
                <path
                  fill="none"
                  stroke="#fff"
                  d="M9.4254885 20.5914211L.0005132 29.9993858M5.6057844 29.7918892L0 29.9995918l.2080773-5.5956669M20.6325474 9.4085798L30.0575218.0006147M24.4523525.2081106L30.058136.0004098l-.2080784 5.5956672M9.4254885 9.4085798L.0005132.0006147M.2083848 5.5956669L.0003076 0 5.606092.2077027M20.6285496 20.5914211l9.4249744 9.4079647M29.8456516 24.4043331L30.0537281 30l-5.6057854-.2077026"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="map"></div>
  </div>
</template>

<script>
import $ from "jquery";

export default {
  name: "googlemapcollapse",
  data: function() {
    return {
      collapseOpen: false
    };
  },
  methods: {
    toggle: function() {
      this.collapseOpen = !this.collapseOpen;
      $('.gm-style-iw').parent().hide();
    }
  },
  mounted() {
    require('../assets/GoogleMapsLoader.js');
    GoogleMapsLoader.VERSION = '3.37';
    GoogleMapsLoader.KEY = 'AIzaSyBw-Ld2uyp74D05cs6QOK3CVpnKcjxJ1e0';
    GoogleMapsLoader.LIBRARIES = ['geometry', 'places'];
    GoogleMapsLoader.LANGUAGE = 'en';
    GoogleMapsLoader.REGION = 'AU';
    GoogleMapsLoader.load( (google) => {
      const el = document.getElementById("map");
      const options = {
        center: new google.maps.LatLng(-31.9592096,115.8583212),
        zoom: 11, 
        mapTypeControl: false,
        streetViewControl: false,
        disableDefaultUI: true,
        styles: [ { "featureType": "all", "elementType": "all", "stylers": [ { "saturation": "32" }, { "lightness": "-3" }, { "visibility": "on" }, { "weight": "1.18" } ] }, { "featureType": "administrative", "elementType": "labels", "stylers": [ { "visibility": "on" } ] }, { "featureType": "landscape", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "landscape.man_made", "elementType": "all", "stylers": [ { "saturation": "-70" }, { "lightness": "14" } ] }, { "featureType": "poi", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "transit", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "water", "elementType": "all", "stylers": [ { "saturation": "100" }, { "lightness": "-14" } ] }, { "featureType": "water", "elementType": "labels", "stylers": [ { "visibility": "off" }, { "lightness": "12" } ] } ]
      };
      var map = new google.maps.Map(el, options);
      const features = [ { position: new google.maps.LatLng(-31.9768532,115.850998), type: 672, title: "26 on Charles", icon: "https://s3-ap-southeast-2.amazonaws.com/loaded-public/loaded-static/img/mystirling-map-marker.png", content: "<div class=\"card bg-dark b-0 gmap-info-body\" style=\"max-width: 248px;\"><div class=\"card-body\"><p class=\"card-title gmap-info-title text-uppercase fw-400\">26 on Charles</p><p class=\"card-subtitle mb-2\">26 Charles St,<br />South Perth </p><h4 class=\"gmap-info-from mb-3 fw-300 text-primary\"><sup class=\"from-price\">FR</sup>&dollar;520,000</h4><a href=\" https://26charlessouthperth.com.au/ \" class=\"btn btn-link btn-arrow-right btn-arrow-right-white btn-arrow-right-hover-primary mb-2\" target=\"_blank\"> View Website <svg class=\"arrow-right img-fluid\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 36 8\" width=\"40px\"> <path fill=\"#fff\" class=\"arrow-right-path\" d=\"M0 3.5148983h35.2661133v.9783244H0v-.9783244zM31.6010742 8l-.6806641-.7165461L34.53125 4.0040603 30.9199219.7165461 31.6015625 0 36 4.0050159 31.6010742 8z\"/> </svg> </a><a href=\"https://mystirling.com/apartments\" class=\"btn btn-link btn-arrow-right btn-arrow-right-white btn-arrow-right-hover-primary\" > Find Apartments <svg class=\"arrow-right img-fluid\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 36 8\" width=\"40px\"> <path fill=\"#fff\" class=\"arrow-right-path\" d=\"M0 3.5148983h35.2661133v.9783244H0v-.9783244zM31.6010742 8l-.6806641-.7165461L34.53125 4.0040603 30.9199219.7165461 31.6015625 0 36 4.0050159 31.6010742 8z\"/> </svg> </a></div></div>" },{ position: new google.maps.LatLng(-31.9502793,115.86407550000001), type: 669, title: "Verdant Apartments", icon: "https://s3-ap-southeast-2.amazonaws.com/loaded-public/loaded-static/img/mystirling-map-marker.png", content: "<div class=\"card bg-dark b-0 gmap-info-body\" style=\"max-width: 248px;\"><div class=\"card-body\"><p class=\"card-title gmap-info-title text-uppercase fw-400\">Verdant Apartments</p><p class=\"card-subtitle mb-2\">108 Stirling Street<br />Perth</p><h4 class=\"gmap-info-from mb-3 fw-300 text-primary\"><sup class=\"from-price\">FR</sup>&dollar;520,000</h4><a href=\" https://mystirling.com/verdant/ \" class=\"btn btn-link btn-arrow-right btn-arrow-right-white btn-arrow-right-hover-primary mb-2\" target=\"_blank\"> View Website <svg class=\"arrow-right img-fluid\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 36 8\" width=\"40px\"> <path fill=\"#fff\" class=\"arrow-right-path\" d=\"M0 3.5148983h35.2661133v.9783244H0v-.9783244zM31.6010742 8l-.6806641-.7165461L34.53125 4.0040603 30.9199219.7165461 31.6015625 0 36 4.0050159 31.6010742 8z\"/> </svg> </a><a href=\"https://mystirling.com/apartments\" class=\"btn btn-link btn-arrow-right btn-arrow-right-white btn-arrow-right-hover-primary\" > Find Apartments <svg class=\"arrow-right img-fluid\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 36 8\" width=\"40px\"> <path fill=\"#fff\" class=\"arrow-right-path\" d=\"M0 3.5148983h35.2661133v.9783244H0v-.9783244zM31.6010742 8l-.6806641-.7165461L34.53125 4.0040603 30.9199219.7165461 31.6015625 0 36 4.0050159 31.6010742 8z\"/> </svg> </a></div></div>" },{ position: new google.maps.LatLng(-31.9431842,115.80815949999999), type: 666, title: "Treehouse", icon: "https://s3-ap-southeast-2.amazonaws.com/loaded-public/loaded-static/img/mystirling-map-marker.png", content: "<div class=\"card bg-dark b-0 gmap-info-body\" style=\"max-width: 248px;\"><div class=\"card-body\"><p class=\"card-title gmap-info-title text-uppercase fw-400\">Treehouse</p><p class=\"card-subtitle mb-2\">18 Hortus Way,  <br />Jolimont</p><h4 class=\"gmap-info-from mb-3 fw-300 text-primary\"><sup class=\"from-price\">FR</sup>&dollar;520,000</h4><a href=\" https://treehousejolimont.com.au/ \" class=\"btn btn-link btn-arrow-right btn-arrow-right-white btn-arrow-right-hover-primary mb-2\" target=\"_blank\"> View Website <svg class=\"arrow-right img-fluid\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 36 8\" width=\"40px\"> <path fill=\"#fff\" class=\"arrow-right-path\" d=\"M0 3.5148983h35.2661133v.9783244H0v-.9783244zM31.6010742 8l-.6806641-.7165461L34.53125 4.0040603 30.9199219.7165461 31.6015625 0 36 4.0050159 31.6010742 8z\"/> </svg> </a><a href=\"https://mystirling.com/apartments\" class=\"btn btn-link btn-arrow-right btn-arrow-right-white btn-arrow-right-hover-primary\" > Find Apartments <svg class=\"arrow-right img-fluid\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 36 8\" width=\"40px\"> <path fill=\"#fff\" class=\"arrow-right-path\" d=\"M0 3.5148983h35.2661133v.9783244H0v-.9783244zM31.6010742 8l-.6806641-.7165461L34.53125 4.0040603 30.9199219.7165461 31.6015625 0 36 4.0050159 31.6010742 8z\"/> </svg> </a></div></div>" },{ position: new google.maps.LatLng(-32.0141377,115.84887709999998), type: 645, title: "Cirque Apartments", icon: "https://s3-ap-southeast-2.amazonaws.com/loaded-public/loaded-static/img/mystirling-map-marker.png", content: "<div class=\"card bg-dark b-0 gmap-info-body\" style=\"max-width: 248px;\"><div class=\"card-body\"><p class=\"card-title gmap-info-title text-uppercase fw-400\">Cirque Apartments</p><p class=\"card-subtitle mb-2\">63 Kishorn Road,  <br />Mount Pleasant</p><h4 class=\"gmap-info-from mb-3 fw-300 text-primary\"><sup class=\"from-price\">FR</sup>&dollar;520,000</h4><a href=\" https://cirquemountpleasant.com.au/ \" class=\"btn btn-link btn-arrow-right btn-arrow-right-white btn-arrow-right-hover-primary mb-2\" target=\"_blank\"> View Website <svg class=\"arrow-right img-fluid\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 36 8\" width=\"40px\"> <path fill=\"#fff\" class=\"arrow-right-path\" d=\"M0 3.5148983h35.2661133v.9783244H0v-.9783244zM31.6010742 8l-.6806641-.7165461L34.53125 4.0040603 30.9199219.7165461 31.6015625 0 36 4.0050159 31.6010742 8z\"/> </svg> </a><a href=\"https://mystirling.com/apartments\" class=\"btn btn-link btn-arrow-right btn-arrow-right-white btn-arrow-right-hover-primary\" > Find Apartments <svg class=\"arrow-right img-fluid\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 36 8\" width=\"40px\"> <path fill=\"#fff\" class=\"arrow-right-path\" d=\"M0 3.5148983h35.2661133v.9783244H0v-.9783244zM31.6010742 8l-.6806641-.7165461L34.53125 4.0040603 30.9199219.7165461 31.6015625 0 36 4.0050159 31.6010742 8z\"/> </svg> </a></div></div>" },{ position: new google.maps.LatLng(-32.1017824,115.76286529999993), type: 677, title: "Barque Apartments", icon: "https://s3-ap-southeast-2.amazonaws.com/loaded-public/loaded-static/img/mystirling-map-marker.png", content: "<div class=\"card bg-dark b-0 gmap-info-body\" style=\"max-width: 248px;\"><div class=\"card-body\"><p class=\"card-title gmap-info-title text-uppercase fw-400\">Barque Apartments</p><p class=\"card-subtitle mb-2\">77 Orsino Boulevard,  <br />North Coogee</p><h4 class=\"gmap-info-from mb-3 fw-300 text-primary\"><sup class=\"from-price\">FR</sup>&dollar;520,000</h4><a href=\" https://mystirling.com/barque/ \" class=\"btn btn-link btn-arrow-right btn-arrow-right-white btn-arrow-right-hover-primary mb-2\" target=\"_blank\"> View Website <svg class=\"arrow-right img-fluid\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 36 8\" width=\"40px\"> <path fill=\"#fff\" class=\"arrow-right-path\" d=\"M0 3.5148983h35.2661133v.9783244H0v-.9783244zM31.6010742 8l-.6806641-.7165461L34.53125 4.0040603 30.9199219.7165461 31.6015625 0 36 4.0050159 31.6010742 8z\"/> </svg> </a><a href=\"https://mystirling.com/apartments\" class=\"btn btn-link btn-arrow-right btn-arrow-right-white btn-arrow-right-hover-primary\" > Find Apartments <svg class=\"arrow-right img-fluid\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1\" viewBox=\"0 0 36 8\" width=\"40px\"> <path fill=\"#fff\" class=\"arrow-right-path\" d=\"M0 3.5148983h35.2661133v.9783244H0v-.9783244zM31.6010742 8l-.6806641-.7165461L34.53125 4.0040603 30.9199219.7165461 31.6015625 0 36 4.0050159 31.6010742 8z\"/> </svg> </a></div></div>" }, ];

      //create markers
      features.forEach(function(feature) {
        var marker = new google.maps.Marker({
          position: feature.position,
          type: feature.type,
          map: map,
          title: feature.title,
          icon: feature.icon,
          info: feature.info
        });
        var infowindow = new google.maps.InfoWindow({
            content: feature.content
        });
        marker.addListener('click', function() {
          $('.gm-style-iw').parent().hide();
          infowindow.open(map, marker);
        });
      });
    });
  }
};
</script>

<style lang="scss">

</style>
